<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Kitchen Object Detector and Classifier</h1>
    <h1>Upload Your Image</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/jpeg">
        <button type="submit">Upload</button>
    </form>
</body>
</html>
